<h1>Edit Coupon</h1>

<div class="coupon-add-container">
   

    <form class="coupon-form">
        <div class="grid">
            <div class="form-group">
                <label for="coupon-name">Coupon Name</label>
                <input type="text" id="coupon-name" placeholder="Enter coupon name">
            </div>
            <div class="form-group">
                <label for="coupon-code">Coupon Code</label>
                <input type="text" id="coupon-code" placeholder="Enter coupon code">
            </div>
            <div class="form-group full-width">
                <label for="coupon-description">Description</label>
                <textarea id="coupon-description" rows="3" placeholder="Enter description"></textarea>
            </div>
            <div class="form-group">
                <label for="discount-percentage">Discount (percentage)</label>
                <input type="number" id="discount-percentage" placeholder="Enter discount percentage">
            </div>
           
            <div class="form-group">
                <label for="min-purchase">Minimum Purchase</label>
                <input type="number" id="min-purchase" placeholder="Enter min value">
            </div>
            <div class="form-group">
                <label for="start-date">Start Date</label>
                <input type="date" id="start-date">
            </div>
            <div class="form-group">
                <label for="end-date">End Date</label>
                <input type="date" id="end-date">
            </div>
        </div>

        <div class="form-actions">
            <button type="button" class="btn btn-secondary">Cancel</button>
            <button type="submit" class="btn btn-primary">Edit Coupon</button>
        </div>
    </form>
</div>