
<div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs">
          <span class="mr-2"><a href="/user/home">Home</a></span> 
          <% if(currentPage !== 'Home') { %>
              <span><%= currentPage %></span>
          <% } %>
      </p>
        <h1 class="mb-0 bread">Success Order</h1>
      </div>
    </div>
  </div>
</div>

<div class="success-container">
  <div class="check-icon"></div>
  <h1 class="success-title">Thank you for shopping</h1>
  <p class="success-message">your order has been successfully placed and is now being processed</p>
</div>