<div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs">
          <span class="mr-2"><a href="/user/home">Home</a></span> 
          <% if(currentPage !== 'Home') { %>
              <span><%= currentPage %></span>
          <% } %>
      </p>
        <h1 class="mb-0 bread">Order History</h1>
      </div>
    </div>
  </div>
</div>
<button class="mobile-menu-btn" onclick="toggleMenu()">☰</button>
  <div class="overlay" onclick="toggleMenu()"></div>
  
  <div class="layout-wrapper">
    <aside class="sidebar">
      <a href="/user/profile"><span>Profile</span></a>
      <a href="#" ><span>Address</span></a>
      <a href="#"class="active"><span>Order</span></a>
      <a href="#"><span>Wallet</span></a>
      <a href="#" class="logout"><span>Logout</span></a>
    </aside>

    <main class="main-content">
      <div class="oh-container">
        <h1 class="oh-main-title">Order History</h1>
  
  <div class="oh-section oh-failed-section">
    <h2 class="oh-section-title oh-failed-title">Failed Order</h2>
    <div class="oh-table-wrapper">
      <table class="oh-table">
        <thead>
          <tr>
            <th>PRODUCT COUNT</th>
            <th>ORDERID</th>
            <th>DATE</th>
            <th>TOTAL</th>
            <th>DISCOUNT</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="oh-product-count">1 Product</td>
            <td class="oh-order-id">ORD173737536713</td>
            <td class="oh-date">1/20/2025, 12:16:08 PM</td>
            <td class="oh-total">₹14,719</td>
            <td class="oh-discount">1,280</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="oh-section oh-placed-section">
    <h2 class="oh-section-title oh-placed-title">Placed Order</h2>
    <div class="oh-table-wrapper">
      <table class="oh-table">
        <thead>
          <tr>
            <th>PRODUCT COUNT</th>
            <th>ORDERID</th>
            <th>DATE</th>
            <th>TOTAL</th>
            <th>DISCOUNT</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="oh-product-count">1 Product</td>
            <td class="oh-order-id">ORD173721740702</td>
            <td class="oh-date">1/18/2025, 4:32:20 PM</td>
            <td class="oh-total">₹46,999</td>
            <td class="oh-discount">13,000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</main>
</div>


<script>
  function toggleMenu() {
    document.querySelector('.sidebar').classList.toggle('active');
    document.querySelector('.overlay').classList.toggle('active');
  }
</script>