<div class="failedcontainer">
  <h1>Payment Failed</h1>
  <p>Unfortunately, your payment could not be processed at this time. Please try again later.</p>
  <p>If you continue to experience issues, contact our support team for assistance.</p>
  <div>
      <a href="/user/orderHistory" class="failedbtn">Retry Payment</a>
      <a href="/user/home" class="btn btn-home">Go to Homepage</a>
  </div>
</div>